<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Latinized Stuff</title>
  </head>
  <body>
    <h1>Pig Latnization Complete</h1>
    <p> <%= @latinizer.getLatinized%> </p>
  </body>
</html>